//#myCarousel .carousel-control.left {
//  background-image: url(../../img/prevarrow.png);
//}
body{
  background-color: #191970 !important;
}
.top{
  margin-top: 50px;
  &__links{
    padding: 0px 5px;
    &__brand{
      img{
        max-width: 100%;
        padding: 0px;
        background-color: inherit;
        border: none;
      }
    }
  }
  &__card{
    img{
      position: relative;
      max-width: 100%;
    }
    &__caption{
      background-color: #fff;
      padding-bottom: 10px;
      max-width: 75%;
      h4{
        margin-bottom: 5px;
        font-size: 15px;
      }
      a{
        color: #40E0D0;
        font-weight: 700;
        font-size: 10px;
      }
    }
    &__popular{
      &__views-count{
        background-color: #40e0d0;
        text-align: right;
        height: 30px;
        padding: 8px;
        border-right: 1px solid #fff;
        clear: both;
        font-size: 12px;
        &:before{
          content: '';
          display: inline-block;
          background-image: url(/web2/img/blog-sprite.png);
          height: 16px;
          position: absolute;
          top: 8px;
          left: 6px;
          background-position: -73px 0;
          width: 20px;
        }
      }
      &__comments-count{
        background-color: #40e0d0;
        text-align: right;
        height: 30px;
        padding: 8px;
        border-right: 1px solid #fff;
        font-size: 12px;
        &:before{
          content: '';
          display: inline-block;
          background-image: url(/web2/img/blog-sprite.png);
          height: 16px;
          position: absolute;
          top: 10px;
          left: 10px;
          background-position: -16px 0;
          width: 20px;
        }
      }
      &__likes-count{
        background-color: #40e0d0;
        text-align: right;
        height: 30px;
        padding: 8px;
        font-size: 12px;
        &:before{
          content: '';
          display: inline-block;
          background-image: url(/web2/img/blog-sprite.png);
          height: 16px;
          position: absolute;
          top: 10px;
          left: 10px;
          background-position: -33px 0;
          width: 20px;
        }
      }
    }
  }
}
.slider {
  &__indicators {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #fff;
    left: 36.3%;
    width: 87.7%;
    li{
      background-color: #40e0d0;
    }
  }
  &__control {
    opacity: 1 !important;
    &__glyphicon_left {
      background-color: aqua;
      width: 40px !important;
      height: 40px !important;
      left: 10px !important;
      bottom: 0;
      padding: 3px;
    }
    &__glyphicon_right {
      background-color: aqua;
      width: 40px !important;
      height: 40px !important;
      right: 10px !important;
      bottom: 0;
      padding: 3px;
    }
  }
}
.navigation{
  &__some{
    background-color: #fff;
    &__menu{
      li{
        padding-left: 6px;
        padding-right: 6px;
        border-left: 1px solid #ccc;
        &:last-child{
          border-right: 1px solid #ccc;
        }
        &:hover{
          background-color: #eee;
        }
        a{
          color: #000;
          &:hover{
            background-color: inherit;
          }
        }
      }
    }
    &__navbar-form{
      margin-left: 15px !important;
      &__control{
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        padding: 7px 10px;
        background-color: #F5F5F5;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 0px;
        &:focus{
          border-color: #40e0d0;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }
      }
      &__button{
        background-color: #40e0d0;
        border-radius: 0;
        display: inline-block;
        border: 1px solid transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 7px 12px;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
      }
    }
  }
}
.navigation__some__container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navigation__some__navbar-header__navbar-brand i{
  color: #40e0d0;
}
.main{
  &__scarlett{

    &__wrap{
      background-color: #fff;
      margin-top: 25px;
      &__image{
        text-align: center;
        padding: 25px;
        img{
          max-width: 100%;
          border-radius: 50%;
          border: 2px solid #40e0d0;
          padding: 5px;
        }
      }
      &__caption{
        text-align: center;
      }
    }
  }
}